.TasksContainer{
    margin: auto;
    background-color: black;
    width: 70vw;
    min-height: 300px;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: .5em;
}

